<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CakeSenders, <%= @user.realname %>!</h1>
    <p>
      You have successfully signed up to CakeSenders! Your username is: <%= @user.username %>.
    </p>
    <p>
      To login to the site and start sending baked goods, just follow <a href="<%= url_for login_url %>">this link</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
