<% if has_flash? %>
  <div class="<%= flash_class %>">
    <p><%= flash_notice %></p>
  </div>
<% end %>

<h1>Baked Goods</h1>

<% @goodies.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |goodie| %>
      <div class="col-md-4 col-sm-4">
        <%= partial 'thumbnail', goodie: goodie %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<% if admin? %>
  <%= link_to 'New Goodie', new_goodie_path, class: 'btn btn-success' %>
<% end %>
