<div class="jumbotron">
  <div class="container">
    <h1>We send baked goods.</h1>
    <center>
      <img id="cupcake" src="<%= asset_path 'detail_bb_Chocolate_Cupcake.png' %>"/>
    </center>
    <p>Do you ever want some cake but don't feel like going to the bakery? No worries, we'll bring the bakery to you!</p>
    <!-- TODO! -->
    <p><%= link_to 'Sign me up!', :signup, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3><i class="glyphicon glyphicon-hand-right"></i> How It Works</h3>
      <p>Pick the baked goods you want to eat from our website, place an order, and have it at your door in a few hours.</p>
    </div>
    <div class="col-md-3">
      <h3><i class="glyphicon glyphicon-cutlery"></i> Wide Selection</h3>
      <p>Don't limit yourself to cake. We'll send whatever the bakery's got. Cookies, pies, and brownies are all available!</p>
    </div>
    <div class="col-md-3">
      <h3><i class="glyphicon glyphicon-flash"></i> Ridiculously Easy</h3>
      <p>You can place your order on any device, in a matter of seconds. You can even place an order from FB/Twitter.</p>
    </div>
    <div class="col-md-3">
      <h3><i class="glyphicon glyphicon-gift"></i> Share with Friends</h3>
      <p>Just tell us what to send and where to send it. We'll handle the rest.</p>
    </div>
  </div>
</div>
