<% if has_flash? %>
  <div class="<%= flash_class %>">
    <p><%= flash_notice %></p>
  </div>
<% end %>

<h1>New Order</h1>

<%= render 'form' %>

<hr>

<%= link_to 'Back', orders_path, class: 'btn btn-default', role: 'button' %>
